# Compiled Object files
# test/test_*
docs
*.slo
*.lo
*.o
build
*~
*swp
*so
lib
CMakeFiles*
Makefile
*.kdev4*
# Compiled Dynamic libraries
*.so
*-swp
# Compiled Static libraries
*.lai
*.la
*.a
*.bin
CMakelists.txt
*.swo
*.swp
tags
