# Compiled Object files
# test/test_*
*.txt
jnxc_headers
*Cache.txt
*.dylib
*.a
*.cmake
docs/xml
*.dSYM
*.dSYM
*.slo
*.lo
*.o
*.log
build
*~
*swp
*so
lib
CMakeFiles*
Makefile
*.kdev4*
# Compiled Dynamic libraries
*.so
*-swp
# Compiled Static libraries
*.lai
*.la
*.a
*.bin
CMakelists.txt
*.swo
*.swp
tags
