language: c
compiler:
    - gcc
    - clang
script: ./configure && make && cd tests && ./run_tests
notifications:
    email:
        recipients:
            - alexsimonjones@gmail.com
            - dragan.glumac@gmail.com
        on_failure: [always|never|change] # default: always
